<style>
	#div2 {
		background-image: url("<%= @unit.floorplan %>");
		height: 600px;
		background-repeat: no-repeat;
		margin-left: 20%;
		margin-top: 50px
	}

	.draggable-thing {
		position: absolute;
	}
</style>

<h3 class="Page-description" > Layout </h3>


<div class="col-md-3">
	<div class= "Categories" data-id="<%=@unit.id%>" data-user-id="<%= current_user.id if user_signed_in? %>"> 
		<br>
	<br>
	<p class= "sub">Categories</p>
	<br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/couch">Couch</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/armchair">Armchair</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/center-table">Side Table</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/dinner-table">Dinner Table</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/chair">Chair</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/bed">Bed</a></button> 
</div>
</div>



<div id= "div2" ondrop="drop(event)" ondragover="allowDrop(event)">
	<% @the_selected_furnitures.each_with_index do |x, index| %>


		<img src="<%=x.image%>" class="piece<%=index%>" draggable="true" class="draggable-thing" ondragstart="drag(event)" id="furniture-unit-<%= x.id %>" data-furniture_unit_id="<%= x.id %>">  
		<style>
		 .piece<%=index%>{
		 	position: absolute;
		 	top: <%=x.top%>;
		 	left: <%=x.left%>;
		}
		</style>


	<%end%>
</div> 


<button class ="js-save-layout"> Save Layout </button>

<p> Drag and Drop the items you selected </p>



<div id= "div1">
	<% if @saved_items.length != nil%>
		<% @saved_items.each_with_index do |x, index| %>
		 <img src="/images/SPACE.png" 
			<div id="#{index}" ondrop="drop(event)" ondragover="allowDrop(event)">
			  <img src="<%=x.scaled_image%>"
			  draggable="true" class="draggable-thing" ondragstart="drag(event)" id="<%= index + 100 %>" data-furniture_id="<%= x.id %>"> 
		<img src="/images/SPACE.png" 
		
			</div>
		
		<% end %>
	<%end%>
</div>


<script>
	
var data
var furniture 
var saved_coordinates = {};
var furniture_id 
var furniture_unit_id

	function allowDrop(ev) {
	    ev.preventDefault();
	};

	function drag(ev) {
	    ev.dataTransfer.setData("image", ev.target.id);
	};

	function drop(ev) {
	    ev.preventDefault();
	    data = ev.dataTransfer.getData("image");
	     furniture = document.getElementById(data);
	    ev.target.appendChild(furniture);

	    furniture.style.top = ev.clientY + "px";
	    furniture.style.left = ev.clientX + "px";

	   
	    furniture_id = $(furniture).data("furniture_id")
		furniture_unit_id = $(furniture).data("furniture_unit_id")

		if (furniture_id != undefined) {
			saved_coordinates[data] = { style_top: furniture.style.top, style_left: furniture.style.left, furniture_id: furniture_id } 
		};
		if (furniture_unit_id != undefined) {
			saved_coordinates[data] = { style_top: furniture.style.top, style_left: furniture.style.left, furniture_unit_id: furniture_unit_id } 
		};

		console.log(saved_coordinates );
	    
	};

		function saveLayout() {
	    	var apiData = { unit_id: $('.Categories').data("id"), furnitures: saved_coordinates, user_id:$('.Categories').data("user-id")  };

	    	console.log(apiData);

		if(saved_coordinates != null){ 
	    $.ajax({
			data: apiData,
			method: "POST",
			url: "/furniture_location",
			success: notifyUser
			});

		};

		function notifyUser () {
			console.log("it worked");
		}
	};

$(".js-save-layout").on("click", saveLayout);
	
</script>