<h3>Select furniture: </h3>

<a href="/units/<%=@unit.id%>">See my Floorplan</a>


<div class= "Categories">
<button><a href="/furnitures/category/couch">Couch</a></button>
<button><a href="/furnitures/category/armchair">Armchair</a></button>
<button><a href="/furnitures/category/center-table">Side Table</a></button>
<button><a href="/furnitures/category/dinner-table">Dinner Table</a></button>
<button><a href="/furnitures/category/chair">Chair</a></button>
<button><a href="/furnitures/category/bed">Bed</a></button>
<ul>

<form class= "Filter">
		<p>Filter by Store :</p>
		<label for="store"> Ikea </label>
        <input type="checkbox" name="store[]" value="Ikea">

        <label for="store"> Target</label>
        <input type="checkbox" name="store[]" value="Target">

        <label for="store"> Overstock </label>
        <input type="checkbox" name="store[]" value="Overstock">

        <button> Filter </button>
</form>

<form class= "Filter">

		<p>Filter by Color :</p>
		<label for="color"> Black </label>
        <input type="checkbox" name="color[]" value="Black">

        <label for="color"> Grey </label>
        <input type="checkbox" name="color[]" value="Grey">

        <label for="color"> Beige </label>
        <input type="checkbox" name="color[]" value="Beige">
        
        <button> Filter </button>
</form>

<!-- <div class= "Filter">
		<p>Filter by Price :</p>
		
</div> -->




	<% @list.each do |furniture| %>


	<a href="/furnitures/<%=furniture.id%>">
		<div class= "Furniture_list">
			<img src="<%=furniture.store_image%>" height= 200px> <%=furniture.store%> -  $:<%=furniture.price%> 
		</div>
	</a>

	
	 	
	
	<% end %>

 		