<h3>Details page:</h3>

<div class="details">	

	 		<p> Brand: <%=@furniture.store%> </p>
	 		<p> Price $:<%=@furniture.price%> </p>
	 		<p> Color: <%=@furniture.color%> </p>
	 		<p> Width: <%=@furniture.width%> </p>
	 		<p> Length: <%=@furniture.lenght%> </p>
	 		<p> <img src =<%=@furniture.store_image%> </p>


<%= form_for @furniture do |f| %>
        <%= f.hidden_field :furniture_id, value: @furniture.id %>
        <%= f.submit "Select Item" %>
<% end %> 