<h3 class="Page-description"> Details </h3>

<br>

	<div class= "attributes">
 		<p> Brand: <%=@furniture.store%> </p>
	 	<p> Price: $ <%=@furniture.price%> </p>
	 	<p> Color: <%=@furniture.color%> </p>
	 	<p> Width: <%=@furniture.width%>" </p>
	 	<p> Length: <%=@furniture.lenght%>" </p>
	
<br>

<%= form_for @furniture do |f| %>
        <%= f.hidden_field :furniture_id, value: @furniture.id %>
        <%= f.submit "Select Item" %> 
<% end %> 

</div>
			<div class="image-deatil"> <img src =<%=@furniture.store_image%> height=600px </div>

	 	

</div>