<!DOCTYPE html>
<html>
  <head>
    <title>MoveMeIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="btn btn-light btn-lg pull-right toggle"><a href="/">Home</a></div>

      <% if session[:total_price] %>
      <div class="btn btn-light btn-lg pull-right toggle">
        <a href="/furnitures/selected_items/show"> Saved Items $<%= session[:total_price] %></a></div>
      <% end %>

     <%if session[:my_floorplan] %>
     <div class="btn btn-light btn-lg pull-right toggle">
     <a href='/furnitures/category/couch'> Furniture Selection </a></div>
     <% end %>

    <%if session[:my_floorplan] %>
    <div class="btn btn-light btn-lg pull-right toggle">
     <a href='/units/<%=session[:my_floorplan]%>'> See my Floorplan </a></div>
     <% end %>


 
    <%= yield %>
  </body>
</html>



        </ul>
    </nav>