<!DOCTYPE html>
<html>
  <head>
    <title>MoveMeIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if session[:total_price] %>
	  	<div>
	  		<p>Total: 
	  		  <%= session[:total_price] %>
	  	    </p>
	  	</div>
	<% end %>
    <%= yield %>
  </body>
</html>
