<!DOCTYPE html>
<html>
  <head>
    <title>MoveMeIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	

  <div class="btn btn-light btn-lg pull-right toggle"><a href="/">Home</a></div>

  <% if session[:total_price] %>
      <div class="btn btn-light btn-lg pull-right toggle">
        <a href="/furnitures/selected_items/show"> Saved Furniture: $<%= session[:total_price] %></a></div>
  <% end %>

   <%if session[:my_floorplan] %>
  <div class="btn btn-light btn-lg pull-right toggle">
   <a href='/units/<%=session[:my_floorplan]%>'> See my Floorplan </a></div>
     <% end %>
 
    <%= yield %>
  </body>
</html>


<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Start Bootstrap</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick=$("#menu-close").click();>Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>